html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.tp_001 #loginform-username,
.tp_001 #loginform-password,
.tp_001 #signupform-email,
.tp_001 #signupform-password,
.tp_001 #signupform-confirm_password,
.tp_001 #signupform-phone_number,
.tp_001 #signupform-address,
.tp_001 #signupform-captcha,
.tp_001 #signupform-captcha-image,
.tp_001 #user-username,
.tp_001 #user-fullname,
.tp_001 #user-address,
.tp_001 #user-email,
.tp_001 #user-phone_number,
.tp_001 #user-image,
.tp_001 #signupform-username
{
    width: 100%;
}

.tp_001 #loginform-rememberme,
.tp_001 #signupform-accept
{
    width: 0;
}

.uppercase {
    text-transform: uppercase;
}
.tp_login_facebook{
    margin-left: -14px;
    margin-top: 4px;
}
@media screen and (max-width: 600px) {
    .box-authentication {
        border: 1px solid #eaeaea;
        padding: 10px;
        min-height: 320px;
    }
}
.tp_fix_fonts{
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
}